[Desktop Entry]
Type=Application
Name=Quire
GenericName=Planner & Notes
Comment=Notes, day planner and school timetable
Exec=quire
Icon=io.github.quezka.Quire
Terminal=false
Categories=Office;Calendar;
Keywords=notes;planner;schedule;timetable;homework;school;
